:root {
    --akcen-tcolor:#2196F3;
    --logo-colot:#000;
    --main-text:#212121;
    --et-textcolor:#757575;
    --title-color:#FFFFFF;
    --tim-background:#F5F4FA;
    --footer-background: #2F303A;
    --adres-color:rgba(255, 255, 255, 0,60);
    --line-color:#ECECEC;
    --borter-color:#EEEEEE;
}
.container{
    width: 1230px;
    outline: 1px solid red;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    
}
body{
    font-family: "Roboto";
}

*{
    box-sizing: border-box;
}
.header-logo{
color: var(--akcen-tcolor);
font-size: 26px;
font-weight: 700;
line-height: 1,38;
letter-spacing: 0.78px;
}
.header-studio{
color: var(--logo-colot);
font-size: 26px;
font-weight: 700;
line-height: 1,38;
letter-spacing: 0.78px;
}
.nav-item:hover{
    color: var(--akcen-tcolor);
}
.nav-link{
color: var(--main-text);
font-size: 14px;
font-weight: 500;
line-height: 1,14;
letter-spacing: 0.28px;
}
.nav-studia{
color: var(--akcen-tcolor);
font-size: 14px;
font-weight: 500;
line-height: 1,14;
letter-spacing: 0.28px;
}
.header-link{
color: var(--akcen-tcolor);
font-size: 14px;
font-weight: 500;
line-height: 1,14;
letter-spacing: 0.28px;
}
.header-linke{
color: var(--et-textcolor);
font-size: 14px;
font-weight: 500;
line-height: 1,14;
letter-spacing: 0.28px;
}
.div-box{
    background-color: var(--footer-background);
}
.main-text{
color: var(--title-color);
display: flex;
width: 696px;
height: 120px;
justify-content: center;
align-items: center;
flex-shrink: 0;
}
.main-button{
border-radius: 4px;
background: var(--akcen-tcolor);
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}
.button-text{
color: var(--title-color);
text-align: center;
font-size: 16px;
font-weight: 700;
line-height: 1,875;
letter-spacing: 0.96px;
}
.sect{
    background-color: var(--title-color);
}
.sect-text{
color: var(--main-text);
font-size: 14px;
font-weight: 700;
line-height: 1,14;
letter-spacing: 0.42px;
text-transform: uppercase;
}
.sect-mintext{
color: var(--et-textcolor);
font-size: 14px;
font-weight: 400;
line-height: 1,71; 
letter-spacing: 0.42px;
}
.sect-h2{
color: var(--main-text);
text-align: center;
font-size: 36px;
font-weight: 700;
line-height: 1,16;
letter-spacing: 1.08px;
}
.sect-img-foto{
width: 370px;
height: 294px;
flex-shrink: 0;
}
.uns{
    background-color: var(--tim-background);
}
.uns-tim{
color: var(--main-text);
text-align: center;
font-size: 36px;
font-weight: 700;
line-height: 1,16;
letter-spacing: 1.08px;
}
.uns-foto{
width: 270px;
height: 368px;
flex-shrink: 0;
}
.uns-text{
color: var(--main-text);
text-align: center;
font-size: 16px;
font-weight: 500;
line-height: 1,1875;
letter-spacing: 0.48px;
}
.footer-map{
color: var(--title-color);
font-size: 14px;
font-weight: 400;
line-height: 1,71;
letter-spacing: 0.42px;
}
.footer-gamil{
color: rgba(255, 255, 255, 0.60);
font-size: 14px;
font-weight: 400;
line-height: 1,71;
letter-spacing: 0.42px;
}
.footer-num{
color: rgba(255, 255, 255, 0.60);
font-size: 14px;
font-weight: 400;
line-height: 1,71;
letter-spacing: 0.42px;
}

.uns-tim{
color: var(--et-textcolor);
text-align: center;
font-size: 16px;
font-weight: 400;
line-height: normal;
letter-spacing: 0.48px;
}
.footer{
    background-color: var(--footer-background);
}
.header{
    padding-top: 24px;
    padding-bottom: 25px;
}
.div-box{
    padding-top: 200px;
    padding-bottom: 210px;
}
.{
    padding-top: 94px;
    padding-bottom: 218px;
}